<!DOCTYPE html>
<html lang="en" ng-app="booksgalore">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="/static/libs/reset.css" />
    <link rel="stylesheet" type="text/css" href="/static/libs/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/style.css" />
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">

    <script src="/static/libs/jquery.min.js"></script>
    <script src="/static/libs/bootstrap/js/bootstrap.min.js"></script>
    <script src="/static/libs/angular.min.js"></script>
    <title>{{ title }}</title>
</head>
<body>

    {% block maincontent %} {% endblock %}

</body>

</html>