{% extends "base.html" %}
    {% block maincontent %}
<div class="container">
    <nav class="navbar navbar-inverse navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">BooksGalore</a>
        </div>
        
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/sign_out">Logout</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <!--Book Search and Add Bar-->
    <div class="container">
    <h4>Search and Add a New Book</h4>
    <form role="form" action="/manage/add" method="POST">
        <div class="row">
            <div class="form-group">
                <input name="isbn" placeholder="Enter Book Name" id="typeahead-add-book" class="form-control input-lg" type="text">
                 <button class="btn btn-basic" type="submit">Add</button>
            </div>
        </div>
    </form>
    
    <div ng-controller="favourite_controller as vm">
        <div class="book-card-holder row">
            <h4>Hi {{full_name}}. Here are your existing favourites</h4>
            <div ng-repeat="individual_book in vm.page.books" class="book-card col-sm-6 col-xs-12 col-md-3 col-lg-4">
                <div class="img-wrapper">
                    <img ng-src="{[ '/static/book_covers/' + individual_book.image ]}" />
                    <button ng-click="vm.delete_book(individual_book.isbn)" class="btn btn-danger btn-small delete-book"><span class="glyphicon glyphicon-trash"></span></button>
                </div>
                <div class="text-left">
                    <h4>{[ individual_book.title ]}</h4>
                </div>
                
            </div>

        </div>
        <!-- or could have just given class=container -->
        <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12 navigate-page-row"> 
            <button class="btn btn-basic btn-small navigate-page-button" ng-disabled="!vm.page.prev" ng-click="vm.previous_page()"><span class="glyphicon glyphicon-menu-left"></button>
            <span>{[ vm.page.current]}</span>
            <button class="btn btn-basic btn-small navigate-page-button" ng-disabled="!vm.page.next" ng-click="vm.next_page()"><span class="glyphicon glyphicon-menu-right"></button>
        </div>
    </div>

    </div>   
     

<script src="/static/js/manage_fav/typeahead.js"></script>
<script src="/static/js/manage_fav/favourite_service.js"></script>
<script src="/static/js/manage_fav/favourite_controller.js"></script>

    {% endblock %}