{% extends "base.html" %}
    {% block maincontent %}
<div class="container">
    <div class="book-card-holder">
        <div class="book-card col-sm-6 col-xs-12 col-md-3 col-lg-4">
            <h3>Book Name</h3>
            <img src="/static/book_covers/default_cover.jpg" />
            <p>A short description works well and at times <a>Read More...</a></p>
        </div>
        <div class="book-card col-sm-6 col-xs-12 col-md-3 col-lg-4">
            <h3>Book Name</h3>
            <img src="/static/book_covers/default_cover.jpg" />
            <p>A short description works well and at times <a>Read More...</a></p>
        </div>
        <div class="book-card col-sm-6 col-xs-12 col-md-3 col-lg-4">
            <h3>Book Name</h3>
            <img src="/static/book_covers/default_cover.jpg" />
            <p>A short description works well and at times <a>Read More...</a></p>
        </div>
        <div class="book-card col-sm-6 col-xs-12 col-md-3 col-lg-4">
            <h3>Book Name</h3>
            <img src="/static/book_covers/default_cover.jpg" />
            <p>A short description works well and at times <a>Read More...</a></p>
        </div>
        <div class="book-card col-sm-6 col-xs-12 col-md-3 col-lg-4">
            <h3>Book Name</h3>
            <img src="/static/book_covers/default_cover.jpg" />
            <p>A short description works well and at times <a>Read More...</a></p>
        </div>
        <div class="book-card col-sm-6 col-xs-12 col-md-3 col-lg-4">
            <h3>Book Name</h3>
            <img src="/static/book_covers/default_cover.jpg" />
            <p>A short description works well and at times <a>Read More...</a></p>
        </div>
        
    </div>   
     
</div>
    {% endblock %}